<%= provide(:title, @user.name) %>

<h1> <%= @user.name %></h1>

<% if @user.posts.empty? %>
  <p> This user has no posts </p>
<% else %>
  <p> <%= @user.name %>'s Posts: </p>

  <table id="post-summary">
    <tr>
      <td><h3>Title</h3></td>
      <td><h3>Content</h3></td>
    </tr>
    <% @user.posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= post.content %></td>
        
        <% if signed_in? && current_user.admin? %> 
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

<% end %>
