<%= provide(:title, @user.name) %>
<p id="notice"><%= flash[:success] %></p>

<h1> <%= @user.name %></h1>

<% if @user.posts.empty? %>
  <p> This user has no posts </p>
<% else %>
  <p> <%= @user.name %>'s Posts: </p>
  <ul>
    <% @user.posts.each do |p| %>
      <li> <%= link_to p.title, p %> </li>
    <% end %>
  </ul>
<% end %>

<% if @all_comments.nil? %>
  <p> This user has no comments </p>
<% else %>
  <p> <%= @user.name %>'s Comments: </p>
  <ul>
    <% @all_comments.each do |c| %>
      <li> <%= c.body %> </li>
    <% end %>
        
  </ul>
TODO: Figure out a way to display polymorphic items. I can't link_to c. Could link to the root commentable_type though... But best is to have a Show method for the polymorphic item.

<% end %>


