<div id="content">
  <div id="summary">
    <p>summary div space holder</p>
  </div>
  <div id="data">
    <table>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'More', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New Post', new_post_path %>
  </div>

</div>

<div id="footer">
  <p>Copyright 2012</p>
</div>
