<div id="content">
  <p id="notice"><%= notice %></p>

  <div id="post">
    
    <h2><%= @post.title %></h2>
      <b>Author:</b>
      <%= @post.name %>
      <b>Tags:</b>
      <%= join_tags(@post) %>

      <b>Content:</b>
        <%= @post.content %>

    <h3>Comments</h3>
    <%= render @post.comments %>

    <h3>Leave a Comment:</h3>
    <%= render "comments/form" %>

    <br />

    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
  </div>
 

</div>
