
<div id="header">
  
  <div id="logo">
  </div> 

  <div id="nav-bar">

    <div class="nav-bar-block"> <%= link_to "Home", root_path %> </div>
      <% if signed_in? %>
        <div class="nav-bar-block"> <%= link_to "Users", users_path %></li>
        <div class="nav-bar-block"> <%= link_to "Profile", current_user %> </div>
        <div class="nav-bar-block"> <%= link_to "Settings", edit_user_path(current_user) %> </div>
        <div class="nav-bar-block"> <%= link_to "Sign out", signout_path, method: "delete" %> </div>
      <% else %>
        <div class="nav-bar-block"> <%= link_to "Sign in", signin_path %> </div>
      <% end %>
  </div>
</div>

</div>

